.Container{
  background-image: url("background.jpg");
  height: 700px;

}
.myheading{
  color: White;
  background-color: red;
  font-size: 50px;
  text-align: center;
}

#Allselections{

  display: inline-table;
}

img{
  border-radius: 8px;
   width:400px;
   height:250px;
}
#display{
  text-align: center;
}
