.Container{
  background-image: url("background.jpg");
  height: 1000px;

}
.myheading{
  color: White;
  background-color: red;
  font-size: 50px;
  text-align: center;
}

#Allselections{
display: inline-table;
}

img{
  background-color:Yellow;
  border-radius: 8px;
   width:400px;
   height:250px;
}
.shoe {
  display: inline-block;
  font-size: 20px;
}

#Izihlangu{
  font-size: 20px;
  width: 150px;
  height:30px;
  border-radius: 8px;
  background-color:Yellow;
}

#wear{
  font-size: 20px;
    width: 150px;
      height:30px;
      border-radius: 8px;
      background-color:Yellow;
}

#clickSearch{
  font-size: 20px;
  width: 150px;
    height:30px;
    border-radius: 8px;
    background-color:Yellow;
}

#ladyShoe{
  font-size: 20px;
  width: 150px;
    height:30px;
    border-radius: 8px;
    background-color:Yellow;
}

#othersize{
  font-size: 20px;
  width: 150px;
    height:30px;
    border-radius: 8px;
    background-color:Yellow;
}

#ADDREG{
  font-size: 20px;
  width: 150px;
    height:30px;
    border-radius: 8px;
    background-color:Yellow;}
